.map-container {
  height: 500px;
  border-right: 1px gray solid;
  padding: 8px;
}

.input-row {
  padding: 8px;
}

.input-row .input-form {
  width: 100%;
}

.list-row {
  padding: 8px;
}

.list-row .list {
  list-style: none;
  width: 100%;
}

.list-row .list-item {
  padding: 8px;
  float: left;
  width: 50%;
}

.list-row .list-item .title {
  color: teal;
  font-size: 20px;
  font-weight: bold;
}

.list-row .list-item .btn-bar {
  margin: inherit;
}
